html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: linear-gradient(#380b70, #4c97f4);
}

.my-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Custom modal animation */
.modal-dialog {
  animation: slide-up 0.4s ease-out;
}
