@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Lexend:wght@100..900&family=Pontano+Sans:wght@300..700&display=swap');

.page-container {
    padding: 1em;
    justify-content: center;
    align-items: center;
    gap: 0em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: white;
    max-height: 100vh;
}

.image-place {
  max-width: 30vw;
  max-height: 30vh;
  width: auto;
  height: auto;
}

.hide {
  display:none;
}

.images-container {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

.buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3em;
    margin: auto;
    margin-top: 3em;
    min-width: 70vw;
    max-width: 70vw;
}

.server-status {
  font-family: monospace;
  color: greenyellow;
  text-shadow: rgb(45, 255, 26) 1px 0 10px;
}

.server-status-red {
  color: red;
  text-shadow: rgb(224, 16, 16) 1px 0 10px;
}

.server-status-yellow {
  color: yellow
}



.font-cool {
    font-family: "Pontano Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* From Uiverse.io by virus231 */ 
.button {
    background: linear-gradient(140.14deg, #ec540e 15.05%, #d6361f 114.99%)
        padding-box,
      linear-gradient(142.51deg, #ff9465 8.65%, #af1905 88.82%) border-box;
    border-radius: 7px;
    border: 2px solid transparent;
  
    text-shadow: 1px 1px 1px #00000040;
    box-shadow: 8px 8px 20px 0px #45090059;
  
    padding: 10px 20px;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
    font-size: 18px;
    font-weight: 500;
  }
  
  .button:hover {
    box-shadow: none;
    opacity: 80%;
  }


  /* HTML: <div class="loader"></div> */
.loader {
  margin: auto;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: radial-gradient(circle closest-side,#000 94%,#0000) right/calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
}
.loader::before {
  content: "Scanning image...";
  line-height: 1em;
  color: #0000;
  background: inherit;
  background-image: radial-gradient(circle closest-side,#fff 94%,#000);
  -webkit-background-clip:text;
          background-clip:text;
}

@keyframes l24{
  100%{background-position: left}
}